Title: All Tags
---
<div class="container-sm-height">
    <div class="row row-sm-height">		
        <div class="col-sm-12 col-sm-height">            
            @foreach (IDocument tagDocument in Documents[BlogKeys.Tags].OrderBy(x => x.String(BlogKeys.Tag)))
            {
                string tag = tagDocument.String(BlogKeys.Tag);
                string postCount = tagDocument.DocumentList(BlogKeys.Posts).Count().ToString();
                int count = tagDocument.DocumentList(BlogKeys.Posts).Count();
                int color = 255-count*20 ;
                color = color < 10? 10 : color;
                int weight = count>9? 9 : count;
                weight = weight * 100; 
                <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-sm" style = "color: rgb(@color,0,0); font-weight: @weight;"> @tag (@postCount)</a>
            }
        </div>
    </div>
</div>