@{
    var pages = Documents[BlogPipelines.Pages]
        .Where(x => x.Bool(BlogKeys.ShowInNavbar, true))
        .Select(x => Tuple.Create(x.WithoutSettings.String(BlogKeys.Title), Context.GetLink(x)))
        .Where(x => !string.IsNullOrEmpty(x.Item1))
        .OrderBy(x => x.Item1);
    foreach(var page in pages)
    {
        <li><a href="@page.Item2">@page.Item1</a></li>
    }
}
@*
This is an eample of dropdown menu in the main navigation
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
*@
<li> <a href="@Context.GetLink("/feed.rss")"><i class="fa fa-rss"></i></a></li>